USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 6/7/2020 9:36:03 AM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLTV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLTV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[CT_PHIEUMUON]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUMUON](
	[MAPM] [nchar](8) NOT NULL,
	[MASACH] [nchar](13) NOT NULL,
	[TRASACH] [bit] NULL,
	[NGAYTRA] [smalldatetime] NULL,
 CONSTRAINT [PK_CT_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPM] [nchar](8) NOT NULL,
	[NGAYMUON] [smalldatetime] NULL,
	[GIAHAN] [bit] NULL,
	[MADOCGIA] [int] NULL,
	[MATHUTHU] [int] NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewTemp1]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewTemp1] 
AS 
SELECT ctpm.MAPM, pm.MADOCGIA, pm.NGAYMUON, ctpm.MASACH, (DATEDIFF(DAY, pm.NGAYMUON, ctpm.NGAYTRA) - 7) AS SONGAYQUAHAN 
FROM dbo.CT_PHIEUMUON AS ctpm
INNER JOIN dbo.PHIEUMUON AS pm
ON pm.MAPM = ctpm.MAPM
WHERE ctpm.TRASACH = 1
GO
/****** Object:  View [dbo].[ViewTemp2]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewTemp2]
AS 
SELECT ctpm.MAPM, pm.MADOCGIA, pm.NGAYMUON, ctpm.MASACH, (DATEDIFF(DAY, pm.NGAYMUON, GETDATE()) - 7) AS SONGAYQUAHAN 
FROM dbo.CT_PHIEUMUON AS ctpm
INNER JOIN dbo.PHIEUMUON AS pm
ON pm.MAPM = ctpm.MAPM
WHERE ctpm.TRASACH = 0
GO
/****** Object:  View [dbo].[ViewTemp3]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewTemp3]
AS 
SELECT MAPM, MADOCGIA, NGAYMUON, MASACH, SONGAYQUAHAN FROM dbo.ViewTemp1
UNION ALL
SELECT MAPM, MADOCGIA, NGAYMUON, MASACH, SONGAYQUAHAN FROM dbo.ViewTemp2
GO
/****** Object:  Table [dbo].[CT_DDH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DDH](
	[MASODDH] [nchar](8) NOT NULL,
	[ISBN] [nchar](13) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CT_DDH] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_LEPHI]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LEPHI](
	[MANAM] [nchar](4) NOT NULL,
	[MADOCGIA] [int] NOT NULL,
	[NGAYDONG] [smalldatetime] NULL,
 CONSTRAINT [PK_CT_LEPHI] PRIMARY KEY CLUSTERED 
(
	[MANAM] ASC,
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHAT]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHAT](
	[MAPHAT] [int] NOT NULL,
	[MADOCGIA] [int] NOT NULL,
	[SOTIENPHAT] [float] NULL,
 CONSTRAINT [PK_CT_PHAT] PRIMARY KEY CLUSTERED 
(
	[MAPHAT] ASC,
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_SACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SACH](
	[MASACH] [nchar](13) NOT NULL,
	[KHOSACH] [int] NOT NULL,
 CONSTRAINT [PK_CT_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[KHOSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_TACGIA_DAUSACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TACGIA_DAUSACH](
	[ISBN] [nchar](13) NOT NULL,
	[MATACGIA] [int] NOT NULL,
 CONSTRAINT [PK_CT_TACGIA_DAUSACH] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[ISBN] [nchar](13) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[SOTRANG] [int] NULL,
	[DONGIA] [float] NULL,
	[NAMXUATBAN] [nchar](4) NULL,
	[SOLUONG] [int] NULL,
	[MANXB] [int] NULL,
	[MATHELOAISACH] [int] NULL,
 CONSTRAINT [PK_DAUSACH] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADOCGIA] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[HOATDONG] [bit] NOT NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MASODDH] [nchar](8) NOT NULL,
	[NGAYDAT] [smalldatetime] NULL,
	[MANXB] [int] NULL,
	[MATHUTHU] [int] NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KESACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KESACH](
	[MAKESACH] [nchar](4) NOT NULL,
	[TENKESACH] [nvarchar](40) NULL,
 CONSTRAINT [PK_KESACH] PRIMARY KEY CLUSTERED 
(
	[MAKESACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOSACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOSACH](
	[MAKHOSACH] [int] NOT NULL,
	[TENKHOSACH] [nvarchar](20) NULL,
 CONSTRAINT [PK_KHOSACH] PRIMARY KEY CLUSTERED 
(
	[MAKHOSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAM]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAM](
	[MANAM] [nchar](4) NOT NULL,
	[TIENLEPHI] [float] NULL,
 CONSTRAINT [PK_NAM] PRIMARY KEY CLUSTERED 
(
	[MANAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGAN]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAN](
	[MANGAN] [int] NOT NULL,
	[TENNGAN] [nvarchar](40) NULL,
	[MAKESACH] [nchar](4) NULL,
 CONSTRAINT [PK_NGAN] PRIMARY KEY CLUSTERED 
(
	[MANGAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAT]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAT](
	[MAPHAT] [int] NOT NULL,
	[LIDO] [nvarchar](40) NULL,
 CONSTRAINT [PK_PHAT] PRIMARY KEY CLUSTERED 
(
	[MAPHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](8) NOT NULL,
	[NGAYNHAP] [smalldatetime] NULL,
	[MATHUTHU] [int] NULL,
	[MASODDH] [nchar](8) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nchar](13) NOT NULL,
	[CHOMUON] [bit] NULL,
	[MATINHTRANG] [int] NULL,
	[ISBN] [nchar](13) NULL,
	[MAPN] [nchar](8) NULL,
	[MANGAN] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[PHAI] [bit] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAISACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAISACH](
	[MATHELOAISACH] [int] NOT NULL,
	[TENTHELOAISACH] [nvarchar](40) NULL,
 CONSTRAINT [PK_THELOAISACH] PRIMARY KEY CLUSTERED 
(
	[MATHELOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUTHU]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUTHU](
	[MATHUTHU] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[HOATDONG] [bit] NOT NULL,
 CONSTRAINT [PK_THUTHU] PRIMARY KEY CLUSTERED 
(
	[MATHUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANGSACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGSACH](
	[MATINHTRANG] [int] NOT NULL,
	[TENTINHTRANG] [nvarchar](40) NULL,
 CONSTRAINT [PK_TINHTRANGSACH] PRIMARY KEY CLUSTERED 
(
	[MATINHTRANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_DDH] ([MASODDH], [ISBN], [SOLUONG], [DONGIA]) VALUES (N'DDH01   ', N'9780671043216', 4, 200000)
INSERT [dbo].[CT_DDH] ([MASODDH], [ISBN], [SOLUONG], [DONGIA]) VALUES (N'DDH01   ', N'9781442344815', 2, 100000)
INSERT [dbo].[CT_DDH] ([MASODDH], [ISBN], [SOLUONG], [DONGIA]) VALUES (N'DDH02   ', N'9786042125345', 2, 100000)
INSERT [dbo].[CT_LEPHI] ([MANAM], [MADOCGIA], [NGAYDONG]) VALUES (N'2017', 2, CAST(N'2017-01-23T00:00:00' AS SmallDateTime))
INSERT [dbo].[CT_LEPHI] ([MANAM], [MADOCGIA], [NGAYDONG]) VALUES (N'2017', 3, CAST(N'2017-01-26T00:00:00' AS SmallDateTime))
INSERT [dbo].[CT_LEPHI] ([MANAM], [MADOCGIA], [NGAYDONG]) VALUES (N'2017', 4, CAST(N'2017-06-22T00:00:00' AS SmallDateTime))
INSERT [dbo].[CT_PHAT] ([MAPHAT], [MADOCGIA], [SOTIENPHAT]) VALUES (1, 2, 300000)
INSERT [dbo].[CT_PHAT] ([MAPHAT], [MADOCGIA], [SOTIENPHAT]) VALUES (1, 3, 200000)
INSERT [dbo].[CT_PHAT] ([MAPHAT], [MADOCGIA], [SOTIENPHAT]) VALUES (2, 4, 300000)
INSERT [dbo].[CT_PHIEUMUON] ([MAPM], [MASACH], [TRASACH], [NGAYTRA]) VALUES (N'PM01    ', N'CONAN01      ', 0, NULL)
INSERT [dbo].[CT_PHIEUMUON] ([MAPM], [MASACH], [TRASACH], [NGAYTRA]) VALUES (N'PM02    ', N'CONAN02      ', 0, NULL)
INSERT [dbo].[CT_PHIEUMUON] ([MAPM], [MASACH], [TRASACH], [NGAYTRA]) VALUES (N'PM03    ', N'DNT01        ', 1, CAST(N'2020-05-29T00:00:00' AS SmallDateTime))
INSERT [dbo].[CT_SACH] ([MASACH], [KHOSACH]) VALUES (N'CONAN01      ', 1)
INSERT [dbo].[CT_SACH] ([MASACH], [KHOSACH]) VALUES (N'CONAN02      ', 2)
INSERT [dbo].[CT_SACH] ([MASACH], [KHOSACH]) VALUES (N'CONAN03      ', 3)
INSERT [dbo].[CT_TACGIA_DAUSACH] ([ISBN], [MATACGIA]) VALUES (N'9780671043216', 1)
INSERT [dbo].[CT_TACGIA_DAUSACH] ([ISBN], [MATACGIA]) VALUES (N'9781442344815', 2)
INSERT [dbo].[CT_TACGIA_DAUSACH] ([ISBN], [MATACGIA]) VALUES (N'9786042125345', 3)
INSERT [dbo].[DAUSACH] ([ISBN], [TENSACH], [SOTRANG], [DONGIA], [NAMXUATBAN], [SOLUONG], [MANXB], [MATHELOAISACH]) VALUES (N'9780671043216', N'Connan', 200, 30000, N'2015', 6, 1, 3)
INSERT [dbo].[DAUSACH] ([ISBN], [TENSACH], [SOTRANG], [DONGIA], [NAMXUATBAN], [SOLUONG], [MANXB], [MATHELOAISACH]) VALUES (N'9781442344815', N'Đắc Nhân Tâm', 150, 150000, N'2020', 8, 2, 1)
INSERT [dbo].[DAUSACH] ([ISBN], [TENSACH], [SOTRANG], [DONGIA], [NAMXUATBAN], [SOLUONG], [MANXB], [MATHELOAISACH]) VALUES (N'9786042125345', N'Dế Mèn Phiêu Lưu Kí', 200, 200000, N'1995', 8, 1, 4)
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([MADOCGIA], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [SDT], [HOATDONG]) VALUES (2, N'Hồ Quốc', N'Thông', 1, N'99 Man Thiện', CAST(N'1998-02-28' AS Date), N'hoquocthong@gmail.com', N'0945354185', 1)
INSERT [dbo].[DOCGIA] ([MADOCGIA], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [SDT], [HOATDONG]) VALUES (3, N'Hoàng Anh', N'Tuấn', 1, N'206 Tân Bình', CAST(N'1998-07-16' AS Date), N'tuanquen@gmail.com', N'0963512756', 1)
INSERT [dbo].[DOCGIA] ([MADOCGIA], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [SDT], [HOATDONG]) VALUES (4, N'Trịnh Tuấn', N'Vũ', 1, N'13 Lê Văn Việt', CAST(N'1997-03-22' AS Date), N'vu@gmail.com', N'0946351555', 1)
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
INSERT [dbo].[DONDATHANG] ([MASODDH], [NGAYDAT], [MANXB], [MATHUTHU]) VALUES (N'DDH01   ', CAST(N'2020-05-20T01:24:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[DONDATHANG] ([MASODDH], [NGAYDAT], [MANXB], [MATHUTHU]) VALUES (N'DDH02   ', CAST(N'2020-05-20T01:24:00' AS SmallDateTime), 2, 2)
INSERT [dbo].[DONDATHANG] ([MASODDH], [NGAYDAT], [MANXB], [MATHUTHU]) VALUES (N'DDH03   ', CAST(N'2020-05-20T01:24:00' AS SmallDateTime), 3, 3)
INSERT [dbo].[KESACH] ([MAKESACH], [TENKESACH]) VALUES (N'K01 ', N'Kệ Số 1')
INSERT [dbo].[KESACH] ([MAKESACH], [TENKESACH]) VALUES (N'K02 ', N'Kệ Số 2')
INSERT [dbo].[KESACH] ([MAKESACH], [TENKESACH]) VALUES (N'K03 ', N'Kệ Số 3')
INSERT [dbo].[KHOSACH] ([MAKHOSACH], [TENKHOSACH]) VALUES (1, N'Lớn')
INSERT [dbo].[KHOSACH] ([MAKHOSACH], [TENKHOSACH]) VALUES (2, N'Vừa')
INSERT [dbo].[KHOSACH] ([MAKHOSACH], [TENKHOSACH]) VALUES (3, N'Nhỏ')
INSERT [dbo].[NAM] ([MANAM], [TIENLEPHI]) VALUES (N'2017', 20000)
INSERT [dbo].[NAM] ([MANAM], [TIENLEPHI]) VALUES (N'2018', 30000)
INSERT [dbo].[NAM] ([MANAM], [TIENLEPHI]) VALUES (N'2019', 32000)
INSERT [dbo].[NGAN] ([MANGAN], [TENNGAN], [MAKESACH]) VALUES (1, N'Ngăn 1', N'K01 ')
INSERT [dbo].[NGAN] ([MANGAN], [TENNGAN], [MAKESACH]) VALUES (2, N'Ngăn 2', N'K01 ')
INSERT [dbo].[NGAN] ([MANGAN], [TENNGAN], [MAKESACH]) VALUES (3, N'Ngăn 3', N'K01 ')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MANXB], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (1, N'Kim Đồng', N'77 Cộng Hòa', N'0648799985', N'kimdong@gmail.com')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (2, N'Giáo Dục', N'11 Trường Chinh', N'0647899999', N'giaoduc@gmail.com')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (3, N'Tư Pháp', N'510 Tây Thạnh', N'0294852147', N'tuphap@gmail.com')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
INSERT [dbo].[PHAT] ([MAPHAT], [LIDO]) VALUES (1, N'Rách bìa')
INSERT [dbo].[PHAT] ([MAPHAT], [LIDO]) VALUES (2, N'Trả muộn')
INSERT [dbo].[PHAT] ([MAPHAT], [LIDO]) VALUES (3, N'Mất ')
INSERT [dbo].[PHIEUMUON] ([MAPM], [NGAYMUON], [GIAHAN], [MADOCGIA], [MATHUTHU]) VALUES (N'PM01    ', CAST(N'2020-05-20T00:12:00' AS SmallDateTime), 0, 2, 1)
INSERT [dbo].[PHIEUMUON] ([MAPM], [NGAYMUON], [GIAHAN], [MADOCGIA], [MATHUTHU]) VALUES (N'PM02    ', CAST(N'2020-05-20T00:14:00' AS SmallDateTime), 0, 2, 2)
INSERT [dbo].[PHIEUMUON] ([MAPM], [NGAYMUON], [GIAHAN], [MADOCGIA], [MATHUTHU]) VALUES (N'PM03    ', CAST(N'2020-05-20T00:14:00' AS SmallDateTime), 0, 3, 3)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MATHUTHU], [MASODDH]) VALUES (N'PN01    ', CAST(N'2020-05-21T00:07:00' AS SmallDateTime), 1, N'DDH01   ')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MATHUTHU], [MASODDH]) VALUES (N'PN02    ', CAST(N'2020-05-21T00:15:00' AS SmallDateTime), 1, N'DDH02   ')
INSERT [dbo].[SACH] ([MASACH], [CHOMUON], [MATINHTRANG], [ISBN], [MAPN], [MANGAN]) VALUES (N'CONAN01      ', 1, 3, N'9780671043216', N'PN01    ', 1)
INSERT [dbo].[SACH] ([MASACH], [CHOMUON], [MATINHTRANG], [ISBN], [MAPN], [MANGAN]) VALUES (N'CONAN02      ', 1, 3, N'9780671043216', N'PN01    ', 1)
INSERT [dbo].[SACH] ([MASACH], [CHOMUON], [MATINHTRANG], [ISBN], [MAPN], [MANGAN]) VALUES (N'CONAN03      ', 0, 3, N'9780671043216', N'PN01    ', 1)
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MATACGIA], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (1, N'Bùi Xuân', N'Huấn', 1, N'10 Đống Đa Hà Nội', CAST(N'1985-01-13' AS Date), N'huan@gmail.com')
INSERT [dbo].[TACGIA] ([MATACGIA], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (2, N'Vũ Trọng', N'Phụng', 1, N'401 Quang Trung', CAST(N'1964-05-21' AS Date), N'phung@gmail.com')
INSERT [dbo].[TACGIA] ([MATACGIA], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (3, N'Nguyễn', N'Du', 1, N'95 Lê Lai', CAST(N'1972-11-12' AS Date), N'du@gmail.com')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
INSERT [dbo].[THELOAISACH] ([MATHELOAISACH], [TENTHELOAISACH]) VALUES (1, N'Tiểu Thuyết')
INSERT [dbo].[THELOAISACH] ([MATHELOAISACH], [TENTHELOAISACH]) VALUES (2, N'Tạp Chí')
INSERT [dbo].[THELOAISACH] ([MATHELOAISACH], [TENTHELOAISACH]) VALUES (3, N'Hài Hước')
SET IDENTITY_INSERT [dbo].[THUTHU] ON 

INSERT [dbo].[THUTHU] ([MATHUTHU], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [HOATDONG]) VALUES (1, N'Nguyễn Trần', N'Hải Yến', 1, N'13 Man Thiện', CAST(N'1998-01-13' AS Date), N'yen@gmail.com', 1)
INSERT [dbo].[THUTHU] ([MATHUTHU], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [HOATDONG]) VALUES (2, N'Ngọc', N'Trâm', 1, N'69 Lê Đại Hành', CAST(N'1998-09-22' AS Date), N'tram@gmail.com', 1)
INSERT [dbo].[THUTHU] ([MATHUTHU], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [HOATDONG]) VALUES (3, N'Ngọc', N'Trân', 1, N'33 Lê Thúc Hoạch', CAST(N'1998-03-10' AS Date), N'tran@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[THUTHU] OFF
INSERT [dbo].[TINHTRANGSACH] ([MATINHTRANG], [TENTINHTRANG]) VALUES (1, N'Mất')
INSERT [dbo].[TINHTRANGSACH] ([MATINHTRANG], [TENTINHTRANG]) VALUES (2, N'Rách bìa')
INSERT [dbo].[TINHTRANGSACH] ([MATINHTRANG], [TENTINHTRANG]) VALUES (3, N'Còn Mới')
ALTER TABLE [dbo].[CT_LEPHI] ADD  CONSTRAINT [DF_CT_LEPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[DONDATHANG] ADD  CONSTRAINT [DF_DONDATHANG_NGAYDAT]  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[PHIEUMUON] ADD  CONSTRAINT [DF_PHIEUMUON_NGAYMUON]  DEFAULT (getdate()) FOR [NGAYMUON]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [DF_PHIEUNHAP_NGAYNHAP]  DEFAULT (getdate()) FOR [NGAYNHAP]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DDH_DAUSACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[DAUSACH] ([ISBN])
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [FK_CT_DDH_DAUSACH]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DDH_DONDATHANG] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DONDATHANG] ([MASODDH])
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [FK_CT_DDH_DONDATHANG]
GO
ALTER TABLE [dbo].[CT_LEPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_LEPHI_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_LEPHI] CHECK CONSTRAINT [FK_CT_LEPHI_DOCGIA]
GO
ALTER TABLE [dbo].[CT_LEPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_LEPHI_NAM] FOREIGN KEY([MANAM])
REFERENCES [dbo].[NAM] ([MANAM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_LEPHI] CHECK CONSTRAINT [FK_CT_LEPHI_NAM]
GO
ALTER TABLE [dbo].[CT_PHAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHAT_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHAT] CHECK CONSTRAINT [FK_CT_PHAT_DOCGIA]
GO
ALTER TABLE [dbo].[CT_PHAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHAT_PHAT] FOREIGN KEY([MAPHAT])
REFERENCES [dbo].[PHAT] ([MAPHAT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHAT] CHECK CONSTRAINT [FK_CT_PHAT_PHAT]
GO
ALTER TABLE [dbo].[CT_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUMUON_PHIEUMUON] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHIEUMUON] ([MAPM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUMUON] CHECK CONSTRAINT [FK_CT_PHIEUMUON_PHIEUMUON]
GO
ALTER TABLE [dbo].[CT_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUMUON_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUMUON] CHECK CONSTRAINT [FK_CT_PHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[CT_SACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_SACH_KHOSACH] FOREIGN KEY([KHOSACH])
REFERENCES [dbo].[KHOSACH] ([MAKHOSACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_SACH] CHECK CONSTRAINT [FK_CT_SACH_KHOSACH]
GO
ALTER TABLE [dbo].[CT_SACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_SACH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_SACH] CHECK CONSTRAINT [FK_CT_SACH_SACH]
GO
ALTER TABLE [dbo].[CT_TACGIA_DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_TACGIA_DAUSACH_DAUSACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[DAUSACH] ([ISBN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TACGIA_DAUSACH] CHECK CONSTRAINT [FK_CT_TACGIA_DAUSACH_DAUSACH]
GO
ALTER TABLE [dbo].[CT_TACGIA_DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_CT_TACGIA_DAUSACH_TACGIA] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TACGIA_DAUSACH] CHECK CONSTRAINT [FK_CT_TACGIA_DAUSACH_TACGIA]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_NHAXUATBAN] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_THELOAISACH] FOREIGN KEY([MATHELOAISACH])
REFERENCES [dbo].[THELOAISACH] ([MATHELOAISACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_THELOAISACH]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHAXUATBAN] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHAXUATBAN]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_THUTHU] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_THUTHU]
GO
ALTER TABLE [dbo].[NGAN]  WITH CHECK ADD  CONSTRAINT [FK_NGAN_KESACH] FOREIGN KEY([MAKESACH])
REFERENCES [dbo].[KESACH] ([MAKESACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NGAN] CHECK CONSTRAINT [FK_NGAN_KESACH]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_THUTHU] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_THUTHU]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_DAUSACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[DAUSACH] ([ISBN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_DAUSACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NGAN] FOREIGN KEY([MANGAN])
REFERENCES [dbo].[NGAN] ([MANGAN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NGAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_PHIEUNHAP]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TINHTRANGSACH] FOREIGN KEY([MATINHTRANG])
REFERENCES [dbo].[TINHTRANGSACH] ([MATINHTRANG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TINHTRANGSACH]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA_CTDH] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [CK_DONGIA_CTDH]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG_CTDH] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [CK_SOLUONG_CTDH]
GO
ALTER TABLE [dbo].[CT_PHAT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENPHAT] CHECK  (([SOTIENPHAT]>=(0)))
GO
ALTER TABLE [dbo].[CT_PHAT] CHECK CONSTRAINT [CK_SOTIENPHAT]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [CK_SOTRANG] CHECK  (([SOTRANG]>(10)))
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [CK_SOTRANG]
GO
ALTER TABLE [dbo].[NAM]  WITH CHECK ADD  CONSTRAINT [CK_NAM] CHECK  (([TIENLEPHI]>=(0)))
GO
ALTER TABLE [dbo].[NAM] CHECK CONSTRAINT [CK_NAM]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACHQUAHAN]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACHQUAHAN]
AS
BEGIN
	SELECT ctpm.MAPM, pm.MADOCGIA, pm.NGAYMUON, ctpm.MASACH, 
	(DATEDIFF(DAY, pm.NGAYMUON, ctpm.NGAYTRA) - 7) AS SONGAYQUAHAN 
	INTO #Temp1
	FROM dbo.CT_PHIEUMUON AS ctpm
	INNER JOIN dbo.PHIEUMUON AS pm
	ON pm.MAPM = ctpm.MAPM
	WHERE ctpm.TRASACH = 1

	SELECT ctpm.MAPM, pm.MADOCGIA, pm.NGAYMUON, ctpm.MASACH, 
	(DATEDIFF(DAY, pm.NGAYMUON, GETDATE()) - 7) AS SONGAYQUAHAN 
	INTO #Temp2
	FROM dbo.CT_PHIEUMUON AS ctpm
	INNER JOIN dbo.PHIEUMUON AS pm
	ON pm.MAPM = ctpm.MAPM
	WHERE ctpm.TRASACH = 0

	SELECT * INTO #Temp3 FROM (SELECT MAPM, MADOCGIA, NGAYMUON, MASACH, SONGAYQUAHAN FROM #Temp1
			UNION ALL
			SELECT MAPM, MADOCGIA, NGAYMUON, MASACH, SONGAYQUAHAN FROM #Temp2) AS temp

	SELECT v.MADOCGIA, dg.HO+' '+dg.TEN AS HOTEN, s.MASACH, ds.TENSACH, v.NGAYMUON, v.SONGAYQUAHAN
	FROM #Temp3 AS v
	INNER JOIN dbo.DOCGIA AS dg
	ON dg.MADOCGIA = v.MADOCGIA
	INNER JOIN dbo.SACH AS s
	ON s.MASACH = v.MASACH
	INNER JOIN dbo.DAUSACH AS ds
	ON ds.ISBN = s.ISBN
	WHERE v.SONGAYQUAHAN > 0
	ORDER BY v.SONGAYQUAHAN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHSACHMUONSACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHSACHMUONSACH]
@MADOCGIA INT
AS
BEGIN
	IF EXISTS (SELECT 1 FROM dbo.DOCGIA AS dg WHERE dg.MADOCGIA = @MADOCGIA AND dg.HOATDONG = 1)
		BEGIN
		/*
			SELECT MASACH, pm.NGAYMUON INTO #PhieuMuonTemp1 FROM dbo.PHIEUMUON AS pm
			INNER JOIN dbo.CT_PHIEUMUON AS ctpm
			ON ctpm.MAPM = pm.MAPM
			WHERE pm.MADOCGIA = 2 AND ctpm.TRASACH = 0

			SELECT pmt.MASACH, dbo.DAUSACH.TENSACH, pmt.NGAYMUON FROM #PhieuMuonTemp AS pmt
			INNER JOIN dbo.SACH
			ON SACH.MASACH = pmt.MASACH
			INNER JOIN dbo.DAUSACH
			ON DAUSACH.ISBN = SACH.ISBN
			*/
			SELECT temp2.MASACH, ds.TENSACH,temp2.NGAYMUON FROM dbo.DAUSACH AS ds,
			(SELECT s.ISBN,temp1.MASACH,temp1.NGAYMUON FROM dbo.SACH s,
			(SELECT ctpm.MASACH, temp.NGAYMUON FROM 
			(SELECT pm.MAPM, pm.NGAYMUON FROM  dbo.PHIEUMUON AS pm WHERE pm.MADOCGIA = @MADOCGIA) AS temp, dbo.CT_PHIEUMUON AS ctpm
			WHERE temp.MAPM = ctpm.MAPM AND ctpm.TRASACH = 0) AS temp1
			WHERE temp1.MASACH = s.MASACH) AS temp2
			WHERE temp2.ISBN =ds.ISBN	
		END 
	ELSE
		BEGIN
			RETURN -1
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKESACHMUONSACH]    Script Date: 6/7/2020 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGKESACHMUONSACH]
AS
BEGIN
		/*
		SELECT MASACH, pm.NGAYMUON INTO #PhieuMuonTemp FROM dbo.PHIEUMUON AS pm
		INNER JOIN dbo.CT_PHIEUMUON AS ctpm
		ON ctpm.MAPM = pm.MAPM

		SELECT TOP(10) ds.ISBN, ds.TENSACH, COUNT(pmt.NGAYMUON) AS SOLUOTMUON FROM #PhieuMuonTemp AS pmt
		INNER JOIN dbo.SACH AS s
		ON s.MASACH = pmt.MASACH
		INNER JOIN dbo.DAUSACH AS ds
		ON ds.ISBN = s.ISBN	
		GROUP BY ds.ISBN, ds.TENSACH
		ORDER BY SOLUOTMUON DESC
		*/

		SELECT TOP(10) temp2.ISBN, ds.TENSACH,COUNT(temp2.NGAYMUON) AS SOLUOTMUON FROM dbo.DAUSACH AS ds,
		(SELECT s.ISBN,temp1.MASACH,temp1.NGAYMUON FROM dbo.SACH s,
		(SELECT ctpm.MASACH, temp.NGAYMUON FROM 
		(SELECT pm.MAPM, pm.NGAYMUON FROM  dbo.PHIEUMUON AS pm) AS temp, dbo.CT_PHIEUMUON AS ctpm
		WHERE temp.MAPM = ctpm.MAPM) AS temp1
		WHERE temp1.MASACH = s.MASACH) AS temp2
		WHERE temp2.ISBN =ds.ISBN
		GROUP BY temp2.ISBN, ds.TENSACH
		ORDER BY SOLUOTMUON DESC
END
GO
USE [master]
GO
